backend/.vscode
backend/Playstore.API/bin
backend/Playstore.API/obj
backend/Playstore.API/Logs
backend/Playstore.API/Properties
backend/Playstore.API/appsettings.Development.json
backend/Playstore.API/appsettings.json
backend/Playstore.Application/bin
backend/Playstore.Application/obj
backend/Playstore.IntegrationTests/bin
backend/Playstore.IntegrationTests/obj
backend/Playstore.UnitTests/bin
backend/Playstore.UnitTests/obj
backend/Playstore.Infrastructure/bin
backend/Playstore.Infrastructure/obj
backend/Playstore.Infrastructure/Migrations
backend/Playstore.Domain/obj
backend/Playstore.Domain/bin
backend/Playstore.Utilities/bin
backend/Playstore.Utilities/obj
backend/.DS_Store
backend/Playstore.API/dump.rdb
backend/Makefile

frontend/node_modules
frontend/.pnp
frontend/.pnp.js
# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/ssl

frontend/.eslintrc
frontend/.eslintignore
frontend/.prettierrc
frontend/.editorconfig

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*